@use "/src/scss/containers";
@use "/src/scss/texts";
@use "/src/scss/lines";
@use "/src/scss/dots";
@use "/src/scss/variables" as v;
@use "/src/scss/animations";

body {
  margin: 0;
  font-family: "Work Sans", Helvetica, sans-serif;
  font-size: 12pt;
  scroll-behavior: smooth;
  background-color: v.$primarycolor;
}

.page {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

main {
  position: absolute;
  // height: 100vh;
  // width: 92%;
  top: 0;
  right: 0;
}
